<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head> 

            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title> APP WEB MULTISERVICIOS FRIOVEN!! </title>
            </f:facet>
        </h:head>


        <h:body>
            <style type="text/css">
                body{
                    background-color:gray;
                }
            </style>



            <p:layout fullPage="true"> 

                <p:layoutUnit  position="north"  size="" resizable="true" closable="true" collapsible="true">
                    <center>  <img src="resources/img/nature 1.jpg" width="1351" height="240" alt="nature 1"/>
                    </center>

                </p:layoutUnit>

                <p:layoutUnit position="south" size="110" closable="true" collapsible="true">

                    <center><img src="resources/img/BANER2.jpg" width="1330" height="90" alt="baner2"/>
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="259" header="APP WEB" collapsible="true" gutter="" >
                    <p:menu> 
                        <p:submenu label="Menu">
                            <p:menuitem value="Inicio" outcome="index2.xhtml" />
                            <p:menuitem value="Clientes" outcome="clientes.xhtml" />
                            <p:menuitem value="Empleados" outcome="empleados.xhtml" />
                            <p:menuitem value="Ventas" outcome="ventas.xhtml" />
                            <p:menuitem value="SALIR" outcome="index.xhtml" />

                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">

                    <center>
                        <h3>CONSULTAR EMPLEADO</h3>




                        <p:outputLabel for="name" value="CEDULA EMPLEADO:"></p:outputLabel>
                        <p:inputText id="name" value="#{estudiante.nombre}" ></p:inputText>
                        <p:commandButton action="{vacanteForm.enviar}" value="CONSULTAR" > </p:commandButton>
                        <br/>

                        <table border="3" >

                            <tr>
                                <th> Nombre </th>
                                <th> Apellido </th>
                                <th> Cedula </th>
                                <th> Direccion </th>
                                <th> Telefono </th>
                                <th> Cargo </th>
                            </tr>


                            <tr>
                                <td> Fernando </td>
                                <td> Alonso </td>
                                <td> 0961268544 </td>
                                <td> Duran , maldonado</td>
                                <td> 0961451541 </td>
                                <td> Tec. En Refrigeracion</td>
                            </tr>

                            <tr>
                                <td> Hector </td>
                                <td> Arismendi </td>
                                <td> 0961268544 </td>
                                <td> Duran , maldonado</td>
                                <td> 0961451545 </td>
                                <td> Tec. En Refrigeracion</td>
                            </tr>

                            <tr>
                                <td> Pedro </td>
                                <td> Lopez </td>
                                <td> 0961268544 </td>
                                <td> Duran , maldonado</td>
                                <td> 0961451545 </td>
                                <td> Tec. En Refrigeracion</td>
                            </tr>

                            <tr>
                                <td> Luis   </td>
                                <td> Armando </td>
                                <td> 0961268544 </td>
                                <td> Duran , maldonado</td>
                                <td> 0961451545 </td>
                                <td> Pintor</td>
                            </tr>

                            <tr>
                                <td> Emiliana</td>
                                <td> Arismendi </td>
                                <td> 0961268544 </td>
                                <td> Duran , maldonado</td>
                                <td> 0961414551 </td>
                                <td> Administradora </td>
                            </tr>



                        </table>  


                    </center>




                </p:layoutUnit>

            </p:layout>

        </h:body>


    </f:view>
</html>