<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head> 

            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title> APP WEB MULTISERVICIOS FRIOVEN!! </title>
            </f:facet>
        </h:head>


        <h:body>
            <style type="text/css">
                body{
                    background-color:gray;
                }
            </style>



            <p:layout fullPage="true"> 

                <p:layoutUnit  position="north"  size="" resizable="true" closable="true" collapsible="true">
                    <center>  <img src="resources/img/nature 1.jpg" width="1351" height="240" alt="nature 1"/>
                    </center>

                </p:layoutUnit>

                <p:layoutUnit position="south" size="110" closable="true" collapsible="true">

                    <center><img src="resources/img/BANER2.jpg" width="1330" height="90" alt="baner2"/>
                    </center>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="259" header="APP WEB" collapsible="true" gutter="" >
                    <p:menu> 
                        <p:submenu label="Menu">
                            <p:menuitem value="Inicio" outcome="index2.xhtml" />
                            <p:menuitem value="Clientes" outcome="clientes.xhtml" />
                            <p:menuitem value="Empleados" outcome="empleados.xhtml" />
                            <p:menuitem value="Ventas" outcome="ventas.xhtml" />
                            <p:menuitem value="SALIR" outcome="index.xhtml" />


                        </p:submenu>

                    </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center">

                    <center>
                        <h3>CONSULTAR VENTA</h3>

                        <p:outputLabel for="name" value="NUMERO FACTURA:"></p:outputLabel>
                        <p:inputText id="name" value="#{estudiante.nombre}" ></p:inputText>
                        <p:commandButton action="{vacanteForm.enviar}" value="CONSULTAR" > </p:commandButton>
                        <br/>

                        <table border="3" >

                            <tr>
                                <th> NUMERO FACTURA </th>
                                <th> Cantidad </th>
                                <th> Cedula </th>
                                <th> Descripcion </th>
                                <th> Monto </th>
                                <th> Fecha </th>
                            </tr>


                            <tr>
                                <td> 001</td>
                                <td> 1 </td>
                                <td> 0961256985  </td>
                                <td> Nevera Durex NO FROST</td>
                                <td> $180 </td>
                                <td> 17/07/2019 </td>
                            </tr>

                            <tr>
                                <td> 002</td>
                                <td> 1 </td>
                                <td> 0987458522 </td>
                                <td> Mantenimiento de aire acondicionado</td>
                                <td> $30 </td>
                                <td> 17/07/2019 </td>
                            </tr>
                            <tr>
                                <td> 003</td>
                                <td> 2 </td>
                                <td> 097526952 </td>
                                <td> Cocinas 4 hornillas DUREX</td>
                                <td> $300 </td>
                                <td> 17/07/2019 </td>
                            </tr>

                            <tr>
                                <td> 004</td>
                                <td> 1 </td>
                                <td> 097526952 </td>
                                <td> Reparacion aire acondicionado (FUGA) </td>
                                <td> $40 </td>
                                <td> 17/07/2019 </td>
                            </tr>





                        </table>  


                    </center>






                </p:layoutUnit>

            </p:layout>

        </h:body>


    </f:view>
</html>