<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head> 

            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title> APP WEB MULTISERVICIOS FRIOVEN!! </title>
            </f:facet>
        </h:head>


        <h:body>
            <style type="text/css">
                body{
                    background-color:gray;
                }
            </style>



            <p:layout fullPage="true"> 

                <p:layoutUnit  position="north"  size="" resizable="true" closable="true" collapsible="true">
                    <center>  <img src="resources/img/nature 1.jpg" width="1351" height="240" alt="nature 1"/>
                    </center>

                </p:layoutUnit>

                <p:layoutUnit position="south" size="110" closable="true" collapsible="true">

                    <center><img src="resources/img/BANER2.jpg" width="1330" height="90" alt="baner2"/>
                    </center>
                </p:layoutUnit>


                <p:layoutUnit position="center">
                    <center>

                        <img src="resources/img/imagenlogin.png" width="100" height="87" alt="imagenlogin"/>


                        <f:view>
                            <h:form>
                                <table>
                                    <tr>
                                        <td>NOMBRE</td>
                                        <td>
                                    <p:outputLabel for="name" value=""></p:outputLabel>
                                    <p:inputText id="name" value="#{estudiante.nombre}" ></p:inputText> 
                                    </td>
                                    </tr>

                                    <tr>
                                        <td>CONTRASEÑA</td>
                                        <td>
                                    <p:outputLabel for="contrasena" value=""></p:outputLabel>
                                    <p:inputText id="contrasena" value="#{estudiante.contrasena}" ></p:inputText> 
                                    </td>
                                    </tr>
                                </table>
                                <br/>
                                <p:commandButton action="{vacanteForm.enviar}" value="ENTRAR" > 

                                </p:commandButton>

                                <p:button outcome="index2.xhtml" value="ENTRAR DE TODOS MODOS" icon="pi pi-star" style="margin-right:20px;">
                                    <f:param name="productId" value="10" />
                                </p:button>

                            </h:form>

                        </f:view>



                    </center>
                </p:layoutUnit>

            </p:layout>

        </h:body>


    </f:view>
</html>

